/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-snack-bar-container {
  margin: 1rem auto !important;
  max-width: 400px !important; 
  width: auto !important;
  min-width: 300px !important;
  border-radius: 4px !important;
}

.success-snackbar {
  --mdc-snackbar-container-color: #4caf50;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
.error-snackbar {
  --mdc-snackbar-container-color: #f44336;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}